<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
        <add assembly="Seq.Client.NLog"/>
    </extensions>
    <targets>
        <target name="seq" xsi:type="Seq" serverUrl="http://seq:80" apiKey="">
            <property name="SourceContext" value="${logger}" />
            <property name="ThreadId" value="${threadid}" as="number" />
            <property name="EnvironmentUserName" value="${windows-identity}" />
            <property name="MachineName" value="${machinename}" />
            <property name="Timestamp" value="${longdate}" />
            <property name="LogLevel" value="${level:uppercase=true}" />
            <property name="Message" value="${message}" />
            <property name="Exception" value="${exception:format=toString}" />
            <property name="StackTrace" value="${stacktrace}" />
            <property name="EventId" value="${eventid}" />
            <property name="RequestPath" value="${aspnet-request-url}" />
            <property name="HttpMethod" value="${aspnet-request-method}" />
            <property name="UserAgent" value="${aspnet-request-user-agent}" />
        </target>
    </targets>
    <rules>
        <logger name="*" minlevel="Info" writeTo="seq" />
    </rules>
</nlog>